<li>
<strong><%= task.title %></strong> -- <%= task.description %>-<%= task.completed%>

<%= form_for task do |form| %>
  <%= form.hidden_field :completed, value: 1 %>
  <%= form.submit "Complete Task" %>
<% end %>
</li>
