<h1>Your Tasks</h1>

<div id="errors"></div>

<%= form_for @task do |form| %>
  <%= render "error_messages", target: @task %>

  <div>
    <%= form.label "Title" %>
    <%= form.text_field :title %>
  </div>

  </div>
    <%= form.label "Description" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit "Create Task"%>
  </div>
<% end %>

<h1 id="incomplete-header" data-list-id="incomplete-task-list">Incomplete Tasks</h1>
<ul id="incomplete-task-list">
  <%= render @incomplete_tasks  %>
</ul>

<h1 id="complete-header" data-list-id="complete-task-list">Complete Tasks</h1>
<ul id="complete-task-list">
  <%= render @complete_tasks %>
</ul>



